<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editor</title>
    <script src="{{ url_for('static', filename='/js/grapes.min.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/grapes.min.css')}}" />
    <!--link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
    <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
    <!-- Add Style and Script for Preset Webpage Builder -->
    <script src="{{ url_for('static', filename='/js/grapesjs-preset-webpage.min.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/grapesjs-preset-webpage.min.css')}}" />
    <!--button type="button" onclick="myFunction()">Click Me!</button-->
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/mainforeditor.css')}}" />
  </head>
  <body>
    <div id="editor">
      <p>  Start building your awesome forms.....</p>
      
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='/js/mainforeditor.js')}}"></script>
  </body>
  <!--script>
    function myFunction() {
     var di = document.createElement('Div');
     di.innerHTML="<p>heeloo</p>";
     document.getElementsByTagName("head")[0].appendChild(di)
    


    }
  </script-->

</html>
